// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.text-white{
    color: white;
}

.text-black-bold{
    color: black;
    font-weight: bold;
}

#nav-icon{
    height: 40px;
    width: 40px;
}

#mixing-gif{
    height: 60px;
    width: 60px;
}

// Margins
.mt-10{
    margin-top: 6em !important;
}